{{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
{{ with $cv.basics }}
  <div class="jr__item jr-basics__item">
    <img src="/selfie.jpg" width="25%" alt="selfie of me, Sky Barnes">

    {{ with .name }}
      <div class="jr-basics__name">{{ . }}</div>
    {{ end }}

    {{ with .label }}
      <div class="jr-basics__label">{{ . }}</div>
    {{ end }}

    {{ with .email }}
      <div class="jr-basics__email">Email: {{ . }}</div>
    {{ end }}

    {{ with .phone }}
      <div class="jr-basics__phone">Phone: {{ . }}</div>
    {{ end }}

    {{ with .url }}
      <div class="jr-basics__url">
        <a href="{{ . }}">{{ . }}</a>
      </div>
    {{ end }}

    {{ with .summary }}
      <h3>Summary</h3>
      <div class="jr-basics__summary">{{ . }}</div>
    {{ end }}

    {{ with .location }}
      <h3>Address</h3>
      <addr class="jr-basics__location">
        {{ .city }}, {{ .region }} {{ .postalCode }} {{ .countryCode }}
      </addr>
    {{ end }}

    {{ with where .profiles "username" "ne" nil }}
      <hr />
      <div class="jr-basics__profile jr-basics__profile--col">
        {{ range . }}
          {{ partial "simple-icon.html" (dict "url" .url "network" .network "username" .username) }}
        {{ end }}
      </div>
    {{ end }}

    {{ with where .profiles "username" "eq" nil }}
      <hr />
      <div class="jr-basics__profile jr-basics__profile--row">
        {{ range . }}
          {{ partial "simple-icon.html" (dict "url" .url "network" .network "username" .username) }}
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
