/* Override this file to customise the theme's CSS for your site */

.jr-basics__profile-item {
  display: block;
}

.jr-basics__profile-icon {
  display: inline;
}

.jr-basics__profile-username {
  display: inline;
}

.jr-basics__profile-icon svg {
  height: 1.5em;
  display:inline;
}