<!-- TODO see https://github.com/NiklasPor/prettier-plugin-go-template/issues/59 -->
<!-- prettier-ignore -->
{{ if .url }}<a href="{{ .url }}" target="_blank" rel="noreferrer me">{{ end }}

<div class="jr-basics__profile-item">
  <div class="jr-basics__profile-icon">
    {{ $path := printf "simple-icons/%s.svg" (lower .network) }}
    {{ (resources.Get $path).Content | safeHTML }}
  </div>

  {{ if .username }}
    <div class="jr-basics__profile-username">{{ .username }} on {{ .network }}</div>
  {{ end }}
</div>

<!-- prettier-ignore -->
{{ if .url }}</a>{{ end }}
